body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("3e4249030c5e74559a952619d37da67f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.container {
    width: 40vw;
    height: 70vh;
    background-image: linear-gradient(to bottom right, #090715, rgb(21, 13, 94), #0b0723);
    margin: auto;
    table-layout: auto;
}

.title {
    margin: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
}

hr {
    border: 2px solid #483bd7;
    border-radius: 5px;
    margin: 10px;
    width: 30px;
}

td {
    width: 20vw;
}

table {
    padding: 5px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 30px;
}

.gender {
    position: absolute;
}

.input-gender {
    padding: 3px;
}

.text-gender {
    font-size: 13px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.register {
    width: 30vw;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-image: linear-gradient(to bottom right, #0c0929, rgb(36, 23, 148), #8271e2);
    color: #ffffff;
    margin: 20px;
    border: none;
}
